﻿@{
    ViewBag.Title = "About";
}
<h2>Pídelo.com</h2>

<p>Está página está diseñada para las personas que no tienen tiempo para salir de compras,<p/>
<p>puedes registrarte totalmente gratis y es muy fácil, podrás ver el stock o inventario</p>
<p>que tenemos en existencia, sí alguno de nuestros productos en stock te interesan, los puedes</p>
<p>seleccionar para hacer tu pedido y Nosotros con mucho gusto te lo llevamos hasta la puerta</p>
<p>de tu casa, sin necesidad de salir de tu casa.</p>
