﻿@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Pídelo</h1>
        <p class="lead">Todo lo que necesites te lo llevamos a la puerta de tu casa. Registrate y te lo llevamos</p>
        <div>
            <a> @Html.ActionLink("Iniciar Sesión", "LoginUser", "Login") &raquo;</a>
        </div>        
    </div>