﻿@model IEnumerable<Deliverys.Models.Inventory.InventoryModel>

@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inventario de productos</title>
</head>
<body>
    <h2>Inventario</h2>
    <p>
        @Html.ActionLink("Crear nuevo registro", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.product)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stock)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.idproduct }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.idproduct }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.idproduct })
                </td>
            </tr>
        }

    </table>
</body>
</html>
