﻿@model Deliverys.Models.Delivery.DeliveryModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Eliminando repartidor</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreDelivery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreDelivery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoDelivery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoDelivery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DPI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DPI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoVehiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoVehiculo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correoDelivery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correoDelivery)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn  btn-danger" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
