﻿@model Deliverys.Models.Delivery.DeliveryModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Detalles de repartidores</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreDelivery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreDelivery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoDelivery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoDelivery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DPI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DPI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoVehiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoVehiculo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correoDelivery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correoDelivery)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modificar", "Edit", new { id = Model.iddelivery }) |
    @Html.ActionLink("Regresar", "Index")
</p>
