﻿@model IEnumerable<Deliverys.Models.Delivery.DeliveryModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Lista de repartidores</h2>

<p>
    @Html.ActionLink("Registrar un nuevo Repartidor", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.iddelivery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreDelivery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidoDelivery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DPI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoVehiculo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correoDelivery)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.iddelivery)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.nombreDelivery)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.apellidoDelivery)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DPI)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.telefono)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tipoVehiculo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.correoDelivery)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.iddelivery }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.iddelivery }) |
        @Html.ActionLink("Eliminar", "Delete", new { id = item.iddelivery })
    </td>
</tr>
}

</table>
